sentry-sdk[opentelemetry]
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-psycopg2
opentelemetry-instrumentation-celery
celery
requests
psycopg2-binary
supabase
